/* * {
  outline: 1px solid red;
} */
:root {
  --theme: #07ab80;
  --theme-gray: #5b636e;
  --theme-white: #e5e5e5;
  --card-white: #ffffff;
  --btn-grn: #07ab80;
}
/* @media screen and (max-width: 600px) {
  div.example {
    display: none;
  } */
/* used to hid an item when the screan width is 600px or less  */
@media screen and (max-width: 950px) {
  iframe {
    display: none;
  }
}
/* HAHA it worked */

@media screen and (max-width: 1000px) {
  p.top-P {
    display: none;
  }
}
/* This one did not work- path not correct??? */
@media screen and (max-width: 1100px) {
  p.txt-ov-img {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  iframe {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .div.img-ord {
    order: col-md-8;
  }
}

@media screen and (max-width: 600px) {
  div.ovr-cont {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  div.crd-one {
    margin-top: 300px;
  }
}
@media screen and (max-width: 600px) {
  div.crd-two {
    width: 450px;
  }
}
@media screen and (max-width: 600px) {
  img.lg-rec {
    height: 100vh;
    width: 129vw;
    margin-top: -56px;
  }
}
body {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-phone {
  flex-wrap: nowrap;
}

.form-chkbx {
  font-size: small;
}

.hp-form {
  border-color: var(--theme-gray);
}

.bg-theme {
  background-color: var(--theme);
}

.bg-theme-gray {
  background-color: var(--theme-gray);
}

.bg-theme-white {
  background-color: var(--theme-white);
}

.bg-card-white {
  background-color: var(--card-white);
}

.btn-card {
  background-color: var(--theme-white);
  color: var(--theme);
  width: fit-content;
  box-shadow: inset 0 0 0 0 #494735;
  width: 4.75rem;
  height: 2.5rem;
}

.btn-card:hover {
  box-shadow: inset 4.75rem 0 0 0 #494735;
  color: bisque;
}

.btn-more {
  background-color: var(--theme);
  font-size: small;
  width: 18%;
}

.text-form {
  color: var(--theme);
}

.input-form {
  margin: 2rem;
}

.card-head {
  font-size: medium;
  /* custom font should go here */
}

.ftr-txt {
  color: var(--theme);
}

.tp-font {
  font-family: "Girassol", cursive;
}

@media screen and (max-width: 992px) {
  .cta-box {
    position: relative;
  }
}
.cta-box {
  position: absolute;
  top: 0;
}
.hero {
  height: 25vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.hero-t {
  height: 30vh;
}

.card-text {
  font-size: small;
}

.wt-bx {
  height: 5vh;
}

.s-w-rec {
  width: 80vw;
}

.txt-ov-img {
  height: 10px;
  /* margin-top: 6rem;
  margin-left: -10rem; */
  color: var(--theme);
}

.lg-rec {
  width: 40vh;
  height: 80vh;

  display: block;
  justify-self: unset;
}
