/* * {
  outline: 1px solid red;
} */
:root {
  --theme: #07ab80;
  --theme-gray: #5b636e;
  --theme-white: #e5e5e5;
  --card-white: #ffffff;
  --btn-grn: #07ab80;
}
/* @media Rule{
media rule for text over image during mobile
} */

body {
  border: 0;
  margin: 0;
}
.form-phone {
  flex-wrap: nowrap;
}
.form-chkbx {
  font-size: small;
}
.hp-form {
  border-color: var(--theme-gray);
}
.bg-theme {
  background-color: var(--theme);
}
.bg-theme-gray {
  background-color: var(--theme-gray);
}
.bg-theme-white {
  background-color: var(--theme-white);
}
.bg-card-white {
  background-color: var(--card-white);
}
.btn-card {
  background-color: var(--theme-white);
  color: var(--theme);
  width: fit-content;
  box-shadow: inset 0 0 0 0 #494735;
  width: 4.75rem;
  height: 2.5rem;
}
.btn-card:hover {
  box-shadow: inset 4.75rem 0 0 0 #494735;
  color: bisque;
}
.btn-more {
  background-color: var(--theme);
  font-size: small;
  width: 18%;
}
.text-form {
  color: var(--theme);
}
.input-form {
  margin: 2rem;
}
.card-head {
  font-size: medium;
  /* custom font should go here */
}
.ftr-txt {
  color: var(--theme);
}
.tp-font {
  font-family: "Girassol", cursive;
}
.cta-box {
  position: absolute;
  top: 0;
}
.hero {
  height: 25vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* background-image: url(https://cdn.shopify.com/s/files/1/2006/8755/articles/unnamed_07beb919-3965-4407-9e81-1ad788eac4ca_1260x.jpg?v=1596476114); */
.hero-t {
  height: 30vh;
}
.cont-spill {
  height: 20vh;
}
.over-card {
  margin-top: -140px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.brd-is {
  border: none;
}
.wt-bx {
  height: 5vh;
}
.s-w-rec {
  width: 80vw;
}
